@import "tailwindcss";

@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500 800;
  font-display: swap;
  src: url("/assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --font-Red-Hat-Display: "Red Hat Display";

  --color-Very-Dark-Navy: rgb(40, 40, 61);
  --color-Grey: rgb(135, 135, 157);
  --color-Button1: rgb(77, 150, 169);
  --color-Button2: rgb(133, 95, 177);
  --color-White: rgb(250, 250, 250);
  --color-Soft-White: rgb(143, 227, 249);
}