---
import SectionNumber from './SectionNumber.astro'
import Button from './Button.astro'
---

<!--  -->

<footer class="bg-[url(/assets/mobile/image-footer.jpg)] w-full bg-cover px-8 py-16 relative">
  <div class="absolute bg-Cyan/85 inset-0 pointer-events-none"></div>
  
  <div class="absolute top-[-110px] m-auto inset-0">
    <SectionNumber number='02'>
  </div>
  
    <div class="relative mt-2 text-White text-center sm:max-w-[504px] sm:m-auto">
    <h2 class=" font-black text-[32px]/8   mb-6">Experience more together</h2>
    <p class="font-medium mb-6">Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.</p>
    <Button color='Purple' />
  </div>
</footer>