---
import SectionNumber from './SectionNumber.astro';
import Button from './Button.astro';
---

<footer
  class='w-full relative h-[374px] bg-[url(/assets/mobile/image-footer.jpg)] bg-cover bg-no-repeat sm:bg-[url(/assets/tablet/image-footer.jpg)] desktop:bg-[url(/assets/desktop/image-footer.jpg)]'
>
  <div class='absolute bg-Cyan/85 inset-0 pointer-events-none'></div>

  <div class='absolute top-[-110px] m-auto inset-0'>
    <SectionNumber number='02' />

    <div
      class='relative my-16 mx-8 text-White text-center sm:max-w-[504px] sm:m-auto sm:mt-16 desktop:flex desktop:items-start desktop:min-w-[1120px] desktop:pt-16'
    >
      <h2
        class='font-black text-[32px]/8 desktop:text-[40px]/10 mb-6 desktop:w-[445px] desktop:text-left'
      >
        Experience more together
      </h2>
      <p
        class='font-medium mb-6 desktop:w-[355px] desktop:text-[18px] desktop:text-left desktop:mr-[95px]'
      >
        Stay connected with reliable HD meetings and unlimited one-on-one and
        group video sessions.
      </p>
      <Button color='Purple' />
    </div>
  </div>
</footer>
