---

---

<header>

	<div class="flex justify-center mt-12 mb-16">
		<img src='/assets/logo.svg' alt="Logo">
	</div>
	<img src="/assets/tablet/image-hero.png" alt="">
	

	<div class="w-[305px] m-auto text-center">
		<h1 class="mt-12 text-[40px]/10 font-black mb-6">Group Chat for Everyone</h1>
		<p class="text-Grey mb-6">Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.</p>

		<div class="flex flex-col gap-4 items-center">
			<button class="px-10 py-4 bg-Button1 rounded-[29px] text-white font-black">Download <span class="text-Soft-White">v1.3</span></button>
			<button class="px-10 py-4 bg-Button2 rounded-[29px] text-white font-black">What is it?</button>
		</div>
	</div>
	
</header>
