<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Meet</title>
	</head>
	<body class="flex flex-col items-center font-Red-Hat-Display text-Very-Dark-Navy">
		<main class="flex flex-col items-center mt-12 max-w-[375px] sm:max-w-[768px] desktop:min-w-[1440px]">
			<slot />
		</main>
	</body>
</html>
